<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button (click)="goBack()">BACK</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlex="40">
    <div class="container" fxLayout="column" fxLayoutGap="10px">
      <div fxFlex *ngIf="dish">
        <mat-list>
          <h3>Comments</h3>
          <mat-list-item *ngFor="let cmnt of dish.comments">
            <!--<img matListAvatar src="{{BaseURL + dish.image}}" alt={{dish.name}}>-->
            <p matLine> {{cmnt.comment}} </p>
            <p matLine> {{cmnt.rating}} Stars </p>
            <p matLine> {{cmnt.author}} {{cmnt.date | date}}</p>
          </mat-list-item>
        </mat-list>
        <mat-list  *ngIf="(userCommentsForm.valid)">
            <mat-list-item>
              <p matLine>{{this.userCommentsForm.get('comment').value}}</p>
              <p matLine>{{this.userCommentsForm.get('rating').value}} Stars</p>
              <p matLine>{{this.userCommentsForm.get('author').value}}</p>
            </mat-list-item>
          </mat-list>
          <form novalidate name="myForm" [formGroup]="userCommentsForm" #usercommentsform="ngForm" (ngSubmit)="onSubmit()">
              <mat-form-field class="half-width">
                <input matInput formControlName="author" placeholder="Name" type="text" required>
                <!--<mat-error *ngIf="userCommentsForm.get('author').hasError('required') && userCommentsForm.get('author').touched">Name is required</mat-error>-->
                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
              </mat-form-field>
            <p>
              <mat-slider formControlName="rating" placeholder="Rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>
            </p>
            <p>
              <mat-form-field class="full-width">
                <textarea matInput formControlName="comment" placeholder="Your Comment" rows=8></textarea>
                <!--<mat-error *ngIf="userCommentsForm.get('comment').hasError('required') && userCommentsForm.get('comment').touched">Comment is required</mat-error>-->
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
              </mat-form-field>
            </p>
            <button type="submit" mat-button [disabled]='!userCommentsForm.valid' class="background-primary text-floral-white">Submit</button>
      
          </form>
      </div>
      <div [hidden]="dish || dishErrMess " fxFlex>
        <mat-spinner></mat-spinner>
        <h4>Loading...</h4>
      </div>
      <div *ngIf="dishErrMess ">
          <h2>Error</h2>
          <h4>{{dishErrMess }}</h4>
        </div>
        
    </div>
  </div>

</div>